<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="..">Return</button>
        <h1>Combat</h1>
    </div>
    <div class="combat-div">
        <div class="combat-info">
            <div class="combat-alerts">
                <div class="alert-indicator">
                    <h6>Missile</h6>
                </div>
                <div class="alert-indicator">
                    <h6>Collision</h6>
                </div>
            </div>
            <button class="button-danger target-button" routerLink="/comander/combat">Set as Target</button>
        </div>
        <img class="map-img" src="../../../../assets/map.png"/>
    </div>
</div>
