<div class="component-div main-div"> 
    <div class="alerts-section">
        <div class="alert-indicator">
            <h6>Speed</h6>
        </div>
        <div class="alert-indicator">
            <h6>Altitude</h6>
        </div>
        <div class="alert-indicator">
            <h6>Proximity</h6>
        </div>
        <div class="alert-indicator">
            <h6>Radiation</h6>
        </div>
        <div class="alert-indicator">
            <h6>Core Temp</h6>
        </div>
        <div class="alert-indicator">
            <h6>Core Fuel</h6>
        </div>
        <div class="alert-indicator">
            <h6>Combat Alert</h6>
        </div>
    </div>
    
    <img class="roci-img" src="../../../../assets/roci-blueprints.jpg"/>
    
    <div class="buttons-section">
        <div class="buttons-section-nav">
            <button class="button-default" routerLink="/comander/coms">Coms</button>
            <button class="button-default" routerLink="/comander/airlock">Airlock</button>
            <button class="button-default">Nav</button>
            <button class="button-danger" routerLink="/comander/combat">Combat Mode</button>
        </div>
        
    </div>
</div>
