
<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="..">Return</button>
        <h1>Countermeasures</h1> 
    </div>
    <div class="gunner-countermeasures-div">
        <div class="countermeasure-component">
            <div class="alert-indicator">
                <h6>Ammo</h6>
            </div>
            <div class="ctrms-pic-section">
                <img class="ctrms-pic" src="../../../../assets/ctrmeasures.png"/>
            </div>
            <div class="title">CIWS 1</div>
            <div class="bar">
                <img src="../../../../assets/red-bar.png"/>
            </div>
        </div>
        <div class="countermeasure-component">
            <div class="alert-indicator">
                <h6>Ammo</h6>
            </div>
            <div class="ctrms-pic-section">
                <img class="ctrms-pic" src="../../../../assets/ctrmeasures.png"/>
            </div>
            <div class="title">CIWS 2</div>
            <div class="bar">
                <img src="../../../../assets/red-bar.png"/>
            </div>
        </div>
        <div class="countermeasure-component">
            <div class="alert-indicator">
                <h6>Ammo</h6>
            </div>
            <div class="ctrms-pic-section">
                <img class="ctrms-pic" src="../../../../assets/ctrmeasures.png"/>
            </div>
            <div class="title">CIWS 3</div>
            <div class="bar">
                <img src="../../../../assets/red-bar.png"/>
            </div>
        </div>
        <div class="countermeasure-component">
            <div class="alert-indicator">
                <h6>Ammo</h6>
            </div>
            <div class="ctrms-pic-section">
                <img class="ctrms-pic" src="../../../../assets/ctrmeasures.png"/>
            </div>
            <div class="title">CIWS 4</div>
            <div class="bar">
                <img src="../../../../assets/red-bar.png"/>
            </div>
        </div>
    </div>
</div>