<div class="component-div main-div"> 
    <div class="alerts-section">
        <div class="alert-indicator">
            <h6>Speed</h6>
        </div>
        <div class="alert-indicator">
            <h6>Altitude</h6>
        </div>
        <div class="alert-indicator">
            <h6>Proximity</h6>
        </div>
    </div> 
    
    <div class="cameras-section">
        <div class="cameras-section-nav">
            <div class="camera"></div>
            <div class="camera"></div>
            <div class="camera"></div>
        </div>
    </div>
    
    <div class="buttons-section">
        <div class="buttons-section-nav">
            <button class="button-default" routerLink="/comander/coms">Coms</button>
            <button class="button-default" routerLink="/comander/airlock">Airlock</button>
            <button class="button-default" routerLink="/comander/nav">Nav</button>
            <button class="button-danger" routerLink="/comander/combat">Combat Mode</button>
        </div>
        
    </div>
</div>
