<div class="component-div main-div"> 
    <div class="alerts-section">
        <div class="alert-indicator">
            <h6>Speed</h6>
        </div>
        <div class="alert-indicator">
            <h6>Altitude</h6>
        </div>
        <div class="alert-indicator">
            <h6>Proximity</h6>
        </div>
    </div> 
    
    <div class="cameras-section">
            <div class="main-camera"></div>

        <div class="cameras-section-nav">
            <div class="camera"></div>
            <div class="camera"></div>
        </div>
    </div>
    
    <div class="buttons-section">
        <div class="buttons-section-nav">
            <button class="button-default" routerLink="/pilot/reactor">Reactor</button>
            <button class="button-default" routerLink="/pilot/docking">Docking</button>
            <button class="button-default" routerLink="/pilot/drone-control">Drone</button>
            <button class="button-danger" routerLink="/pilot/nav-control">Nav</button>
        </div>
        
    </div>
</div>
