<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="..">Return</button>
        <h1>Airlock</h1>
    </div>
    <div class="airlock-div">
        <div class="airlock-list">
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/1">Airlock 1</button>
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/2">Airlock 2</button>
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/3">Airlock 3</button>
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/4">Airlock 4</button>
        </div>
        <img class="roci-img" src="../../../../assets/roci-blueprints.jpg"/>
        <div class="airlock-list">
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/5">Airlock 5</button>
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/6">Airlock 6</button>
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/7">Airlock 7</button>
            <button class="button-default button-airlock" routerLink="/comander/airlock-camera/8">Airlock 8</button>
        </div>
    </div>
</div>