<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="/pilot">Return</button>
        <h1>Docking Control</h1> 
    </div>
    <div class="drone-div">
        <div class="alerts-section">
            <div class="alert-indicator">
                <h6>Speed</h6>
            </div>
            <div class="alert-indicator"> 
                <h6>Proximity</h6>
            </div>
        </div> 
        <div class="direction-control-section">
            <button class="button-default button-up">
                Up
            </button>
            <button class="button-default button-down">
                Down
            </button>
            <button class="button-default button-left">
                Left
            </button>
            <button class="button-default button-right">
                Right
            </button>
        </div>
        <div class="docking-pic-section">
            <img class="docking-pic" src="../../../../assets/docking.png"/>
        </div>



        <div class="parameters-info">
            <div>
                <h2>Distance</h2>
                <p>X: 0.2m</p>
                <p>Y: 5.2m</p>
                <p>Z: 6.2m</p>
            </div>
            <div>
                <h2>Speed</h2>
                <p>4 Gm</p>
                <p>3000 m/s</p>
                <p>T -12d</p>
            </div>
        </div>
    </div>
</div>