<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="..">Return</button>
        <h1>Nav Control</h1>
    </div>
    <div class="nav-div">
        <img class="nav-map-img" src="../../../../assets/nav-map.jpeg"/>
        <div class="nav-info">
            <h1>SATURN SOI</h1>
            <div class="orbit-info">
                <div>
                    <h2>Periapsis</h2>
                    <p>1.2 Gm</p>
                    <p>3000 m/s</p>
                    <p>T -12d</p>
                </div>
                <div>
                    <h2>Apoapsis</h2>
                    <p>4 Gm</p>
                    <p>2000 m/s</p>
                    <p>T -1d</p>
                </div>
            </div>
            <div class="parameters-section-nav">
                <div class="parameter-section">
                    <div class="parameter-name">Speed</div>
                    <div class="parameter-value-section">
                        <div class="parameter-button">-</div>
                        <div class="parameter-value">1000m/s</div>
                        <div class="parameter-button">+</div>
                    </div>

                </div>
                <div class="parameter-section">
                    <div class="parameter-name">Heading</div>
                    <div class="parameter-value-section">
                        <div class="parameter-button">-</div>
                        <div class="parameter-value">42°</div>
                        <div class="parameter-button">+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
