.nav-div{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.nav-map-img{
    height: 80vh;
}

.nav-info{

    margin-left: 100px;
    display: flex;
    flex-direction: column;

    justify-content: space-around;


    color: white;
}

.orbit-info{
    display: flex;
    flex-direction: row;

    border: solid 1px white;
}

.orbit-info div{
    margin: 40px;
}

.vessels-table{
    width: 25vw;
    background-color: #013233;
    border: 1px solid #06E6EB;
}

.mat-cell{
    color: white;
    font-size: small;

    border-bottom: 1px solid #06E6EB;
    border-top: 1px solid #06E6EB;
}

.mat-header-cell{
    color: white;
    background-color: #06E6EB;

    font-size: medium;
}