.nav-div{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.nav-map-img{
    height: 80vh;
}

.nav-info{

    margin-left: 100px;
    display: flex;
    flex-direction: column;

    justify-content: left;

    color: white;
}

.orbit-info{
    display: flex;
    flex-direction: row;

    border: solid 1px white;
}

.orbit-info div{
    margin: 40px;
}