<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="..">Return</button>
        <h1>Nav Control</h1>
    </div>
    <div class="nav-div">
        <img class="nav-map-img" src="../../../../assets/nav-map.jpeg"/>
        <div class="nav-info">
            <h1>SATURN SOI</h1>
            <div class="orbit-info">
                <div>
                    <h2>Periapsis</h2>
                    <p>1.2 Gm</p>
                    <p>3000 m/s</p>
                    <p>T -12d</p>
                </div>
                <div>
                    <h2>Apoapsis</h2>
                    <p>4 Gm</p>
                    <p>2000 m/s</p>
                    <p>T -1d</p>
                </div>
            </div>
            <h1>Vessels in Range</h1>
            <table mat-table [dataSource]="data" #matTable class="vessels-table">
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Vessel </th>
                    <td mat-cell *matCellDef="let data"> {{data.Name}} </td>
                </ng-container>
                <ng-container matColumnDef="Distance">
                    <th mat-header-cell *matHeaderCellDef> Distance </th>
                    <td mat-cell *matCellDef="let data"> {{data.Distance}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;" (click)="getRecord(row)"></tr>
            </table>
        </div>
    </div>
</div>
