



.camera{
    height: 240px;
    width: 540px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    margin: 5px;
    border-color: rgb(92, 99, 99);
    border-style: solid;
    border-width: 2px;
}

 .cameras-section{
    gap: 5px;
    margin: 30px ;
    align-self: center;
    
}

.cameras-section-nav{
    display: flex;
    justify-content: space-between;

}

.main-camera{
    height: 600px;
    width: 1100px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    margin: 5px;
    border-color: rgb(92, 99, 99);
    border-style: solid;
    border-width: 2px;
}







.component-div{
    height: 90vh;
    width: 95vw;
}

.component-top-bar{

    display: flex;
    flex-direction: row;

    align-items: center;

}

.component-top-bar h1{
    color: white;
    font-size: 2em;

    margin: 0px !important;
}

.button-return{
    height: 50px;
    width: 100px;
    margin-right: 40px;
}


.alert-indicator{

    background-color: #290C0C;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    color: white;
    
}

.alert-indicator h6{
    margin: 0px !important;

    font-size: small;
}

.button-default{
    background-color: #013233;
    border: 1px solid #06E6EB;
    border-radius: 10px;

    color: white;
}

.button-red-inactive{
    background-color: #290C0C;
    border: 1px solid #B20000;
    border-radius: 10px;

    color: white;
}


.button-danger{
    background-color: #B20000;
    border: 1px solid white;
    border-radius: 10px;

    color: white;
}
