<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="..">Return</button>
        <h1>Weapons</h1> 
    </div>
    <div class="gunner-weapons-div">
        <div class="left-section">
            <img src="../../../../assets/weapons1.png"/>
            
        </div>
        

        <div class="center-section">
            <div class="missile-info">
                <p>Range: 200km</p>
                <p>Explosion Radius: 20m</p>
                <p>Guidance: auto</p>
            </div>
            <div class="parameter-section">
                <div class="parameter-name">Missile Type</div>
                <div class="parameter-value-section">
                    <div class="parameter-button"><</div>
                    <div class="parameter-value">HE</div>
                    <div class="parameter-button">></div>
                </div>
                <div class="buttons-section-nav">
                    <button class="button-danger">SHOT</button>
                </div>
            </div>
        </div>


        <div class="right-section">
            <img src="../../../../assets/weapons2.png"/>
            <div class="title">Power Load</div>
            <img class="bar" src="../../../../assets/horizontal-red-bar.png"/>
            <div class="buttons-section-nav">
                <button class="button-danger">SHOT</button>
            </div>
        </div>
    </div>
</div>