.nav-div{
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
}

.nav-map-img{
    height: 70vh;
    width: 50vw;
    align-self: center;
    justify-self: center;
    margin-top: 5vh;
}

.nav-info{

    margin-left: 100px;
    display: flex;
    flex-direction: column;

    align-items: center;

    color: white;
}

.img-nation{
    margin-top: 30px;
    margin-bottom: 10px;
    height: 15vh;
    width: 12vw;
}

.vessel-info{

    font-size: 1.5em;
    padding: 20px;
}

.button-open-coms{
    height: 60px;
    width: 160px;

    margin-top: 40px;
}
