<div class="component-div component-main-div">
    <div class="vessel-info">
        <h2>Rocinante</h2>
        <div style="height: 60%; width: 90%; background-color: aqua;"></div>
    </div>
    <div class="control">
        <mat-slider min="1" max="100" step="1" value="50" vertical></mat-slider>
        <mat-slider min="1" max="100" step="1" value="50" vertical></mat-slider>
        <mat-slider min="1" max="100" step="1" value="50" vertical></mat-slider>
    </div>
    <div class="alerts">

    </div>
    <div class="buttons">

    </div>
</div>

