
.component-main-div{

    display: grid;

    grid-template-columns: 25% 25% 20% 25%;
    grid-template-rows: auto;

    justify-content: space-around;
}

.vessel-info{

    padding: 5%;

    background-color: greenyellow;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.vessel-info h2{
    margin-top: 10%;
    margin-bottom: 30%;
}

.control{

    background-color: grey;

    display: flex;
    flex-direction: row;

    align-items: flex-end;
    justify-content: space-evenly;
}

.control mat-slider{
    height: 70%;
    margin: 10% 0px;
}

.alerts{

    background-color: hotpink;
}

.buttons{
    background-color: indianred;
}

