<div class="armory-main component-div">
    <h1>Armory</h1>
    <div class="armory-content">
        <div class="armory-weapons">
            <div class="weapon">
                <img src="../../../../assets/weapon-r870.jpg"/>
            </div>
            <div class="weapon">
                <img src="../../../../assets/weapon-an94.jpg"/>
            </div>
            <div class="weapon">
                <img src="../../../../assets/weapon-ballista.jpg"/>
            </div>
        </div>
        <div class="armory-extras">
            <div class="extra">
                <img src="../../../../assets/extra-axe.jpg"/>
                <p>x30</p>
            </div>
            <div class="extra">
                <img src="../../../../assets/extra-c4.jpg"/>
                <p>x7</p>
            </div>
            <div class="extra">
                <img src="../../../../assets/extra-claymore.jpg"/>
                <p>x5</p>
            </div>
            <div class="extra">
                <img src="../../../../assets/extra-grenade.jpg"/>
                <p>x57</p>
            </div>
        </div>
    </div>
</div>
