<div class="component-div">
    <div class="component-top-bar">
        <button class="button-default button-return" routerLink="/pilot">Return</button>
        <h1>Drone Control</h1> 
    </div>
    <div class="drone-div">
        <div class="alerts-section">
            <div class="alert-indicator">
                <h6>Low Signal</h6>
            </div>
            <div class="alert-indicator">
                <h6>Low Fuel</h6>
            </div>
        </div> 
        <div class="direction-control-section">
            <div class="button-default button-up">
                    Up
            </div>
            <div class="button-default button-down">
                Down
            </div>
            <div class="button-default button-left">
                Left
            </div>
            <div class="button-default button-right">
                Right
            </div>
        </div>
        <div class="cameras-section">
            <div class="main-camera-drone"></div>

            <div class="cameras-section-nav">
                <div class="camera-drone"></div>
                <div class="camera-drone"></div>
            </div>
        </div>
        <div class="drone-deploy">
            <img class="drone-pic" src="../../../../assets/drone.png"/>

            <!--<div class="drone-buttons">-->
                <div class="button-default drone-button">
                    Deploy
                </div>
            <!--</div>-->

        </div>
    </div>
</div>