<div class="component-div main-menu-div">
    <button class="full-button" mat-flat-button color="primary" [routerLink]="['comander']">Comander</button>
    <button class="full-button" mat-flat-button color="primary" [routerLink]="['pilot']">Pilot</button>
    <button class="full-button" mat-flat-button color="primary" [routerLink]="['gunner']">Gunner</button>
    <div class="half-button-container">
        <button class="half-button" mat-flat-button color="primary" [routerLink]="['airlock']">Airlock</button>
        <button class="half-button" mat-flat-button color="primary" [routerLink]="['armory']">Armory</button>
    </div>
</div>
